<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true                                     // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so Ruby can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <% if @user %>
      <header class="clearfix">
          <img class="logo" src="/images/header.png" height="60" width="200"/>
          <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
          <div>
            <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
            <p class="tagline">
              Share tools.  Start Projects.  On
              <a href="<%= @app['@app'] %>"><%= @app['name'] %></a>
            </p>
          </div>
      </header>
    <% else redirect "/auth/facebook" %>
      <header class="no-user">
        <div>
          <h1>Welcome</h1>
            <a href='/auth/facebook' class="fb_button fb_button_medium">
              <span class="fb_button_text">Log In</span>
            </a>
        </div>
      </header>
    <% end %>
    <% if @user %>
    <section class="clearfix">
      <div>
            <a href="#" class="toolbar-button">
             <span class="welcome">Welcome</span></a>
            <a href="friends_tools.html" class="toolbar-button">
             <span class="friends-tools">Frend's Tools</span></a>
            <a href="my_tools.html" class="toolbar-button">
             <span class="my-tools">My Tools</span></a>
            <a href="about_us.html" class="toolbar-button">
             <span class="about-us">About Us</span></a>
            <a href="comments.html" class="toolbar-button">
             <span class="comments">Submit Comments</span></a>
            <a href="#" class="toolbar-button apprequests" id="sendRequest" data-message="Welcoming message." id="invite-style">
             <span class="apprequests">Invite Friends</span></a>
      </div>
    </section>
    <section>
    <br/>
    <p>Toolshed is web application developed by Ryan Graebner.  The current version of the program is still in its developement phase, but as it attracts more users, I will work on improving the application to better serve you.<br/><br/>

Unlike many applications on Facebook, Toolshed is designed primarily to get users OFF their computers, and to encourage REAL interactions with others.  However, if the chance arises, Toolshed will take on advertisers in order to help pay for expenses like server space (for the time being, this is coming out of my pocket).  Also, if Toolshed turns into one of the "successful" apps on Facebook, there is a whole line of similar apps I hope to launch.<br/><br/>

On a similar note, I am always interested in ideas for Facebook applications that give actual benefits to users.  If you need help setting up an application, send me a cover letter describing the basic funtions of the app, how it benefits users, and why you think it could become successful.  Please include what you need help with and who you would want to be responsible for running the application.  Send completed cover letters to ____________.</p>
    <br/>
    </section>
  <% end %>
  </body>
</html>
