<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="Share tools and start projects on Toolshed!" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }
      $(function(){
        $('.sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : 'https://apps.facebook.com/toolshed/',
              to     : $(this).attr('data-to')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message :  'Select friends to invite to Toolshed:'
            },
            function (response) {
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",
          channelUrl : "<%= url_no_scheme('/channel.html') %>",
          status     : true,
          cookie     : true,
          xfbml      : true
        });
        FB.Event.subscribe('auth.login', function(response) {
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <% if @user %>
      <header class="clearfix">
          <img class="logo" src="/images/header.jpg" height="80" width="250"/>
          <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
          <div>
            <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
            <p style="color: #000044;font-size: 12px;">
              Share tools & start projects with friends on Toolshed!
            </p>
          </div>
      </header>
    <% else redirect "/auth/facebook" %>
      <header class="no-user">
        <div>
          <h1>Welcome</h1>
            <a href='/auth/facebook' class="fb_button fb_button_medium">
              <span class="fb_button_text">Log In</span>
            </a>
        </div>
      </header>
    <% end %>
    <% if @user %>
    <section class="clearfix">
      <div>
            <a href="/" class="toolbar-button">
             <span>Welcome</span></a>
            <a href="friends_tools.html" class="current-button">
             <span>Friend's Tools</span></a>
            <a href="my_tools.html" class="toolbar-button">
             <span>My Tools</span></a>
            <a href="about_us.html" class="toolbar-button">
             <span>About Us</span></a>
            <a href="comments.html" class="toolbar-button">
             <span>Comments</span></a>
            <a href="#" id="sendRequest" class="toolbar-button apprequests">
             <span>Invite Friends</span></a>
            <a href="ad_page.html" class="toolbar-button">
             <span>Enter Slogan Contest</span></a>
      </div>
    </section>
    <section>
    <br/>

    <% @html_states=0 %>
    <% for i in 1..@state_number %>
     <p><font size="4"><%= @state_list.at(@html_states) %></font></p><hr>
     <% @html_state_temp=instance_variable_get("@#{@state_list.at(@html_states)}") %>
     <% if @html_state_temp.join != "" %>
      <table style="width:90%;">



      <% @html_type_temp = @html_state_temp.at(0) %>
      <% if @html_type_temp.at(0) !=nil %>
        <tr style="background-color:#E8E8E8;"><td colspan="3">Carpentry</td></tr>
        <% @html_type_temp = @html_type_temp.sort! { |a,b| a[2].downcase <=> b[2].downcase } %>
        <% @html_type_temp.each do|n| %>
          <tr><td style="width:40%;"><%= n.at(0) %></td><td style="width:25%;"><%= n.at(2) %></td><td style="width:25%;"><a href="#" class="friend-button speech-bubble sendToFriends" data-url="<%= url %>" data-to="<%= n.at(3) %>"><%= n.at(1) %></a></td></tr>
        <% end %>
      <% end %>

      <% @html_type_temp = @html_state_temp.at(1) %>
      <% if @html_type_temp.at(0) !=nil %>
        <tr><td>&nbsp;</td></tr>
        <tr style="background-color:#E8E8E8;"><td colspan="3">Plumbing</td></tr>
        <% @html_type_temp = @html_type_temp.sort! { |a,b| a[2].downcase <=> b[2].downcase } %>
        <% @html_type_temp.each do|n| %>
          <tr><td><%= n.at(0) %></td><td><%= n.at(2) %></td><td><a href="#" class="friend-button speech-bubble sendToFriends" data-url="<%= url %>" data-to="<%= n.at(3) %>"><%= n.at(1) %></a></td></tr>
        <% end %>
      <% end %>

      <% @html_type_temp = @html_state_temp.at(2) %>
      <% if @html_type_temp.at(0) !=nil %>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr style="background-color:#E8E8E8;"><td colspan="3">Electrical</td></tr>
        <% @html_type_temp = @html_type_temp.sort! { |a,b| a[2].downcase <=> b[2].downcase } %>
        <% @html_type_temp.each do|n| %>
          <tr><td><%= n.at(0) %></td><td><%= n.at(2) %></td><td><a href="#" class="friend-button speech-bubble sendToFriends" data-url="<%= url %>" data-to="<%= n.at(3) %>"><%= n.at(1) %></a></td></tr>
        <% end %>
      <% end %>

      <% @html_type_temp = @html_state_temp.at(3) %>
      <% if @html_type_temp.at(0) !=nil %>
        <tr><td>&nbsp;</td></tr>
        <tr style="background-color:#E8E8E8;"><td colspan="3">Yard Work</td></tr>
        <% @html_type_temp = @html_type_temp.sort! { |a,b| a[2].downcase <=> b[2].downcase } %>
        <% @html_type_temp.each do|n| %>
          <tr><td><%= n.at(0) %></td><td><%= n.at(2) %></td><td><a href="#" class="friend-button speech-bubble sendToFriends" data-url="<%= url %>" data-to="<%= n.at(3) %>"><%= n.at(1) %></a></td></tr>
        <% end %>
      <% end %>

      <% @html_type_temp = @html_state_temp.at(4) %>
      <% if @html_type_temp.at(0) !=nil %>
        <tr><td>&nbsp;</td></tr>
        <tr style="background-color:#E8E8E8;"><td colspan="3">Painting</td></tr>
        <% @html_type_temp = @html_type_temp.sort! { |a,b| a[2].downcase <=> b[2].downcase } %>
        <% @html_type_temp.each do|n| %>
          <tr><td><%= n.at(0) %></td><td><%= n.at(2) %></td><td><a href="#" class="friend-button speech-bubble sendToFriends" data-url="<%= url %>" data-to="<%= n.at(3) %>"><%= n.at(1) %></a></td></tr>
        <% end %>
      <% end %>

      <% @html_type_temp = @html_state_temp.at(5) %>
      <% if @html_type_temp.at(0) !=nil %>
        <tr><td>&nbsp;</td></tr>
        <tr style="background-color:#E8E8E8;"><td colspan="3">Food Processing</td></tr>
        <% @html_type_temp = @html_type_temp.sort! { |a,b| a[2].downcase <=> b[2].downcase } %>
        <% @html_type_temp.each do|n| %>
          <tr><td><%= n.at(0) %></td><td><%= n.at(2) %></td><td><a href="#" class="friend-button speech-bubble sendToFriends" data-url="<%= url %>" data-to="<%= n.at(3) %>"><%= n.at(1) %></a></td></tr>
        <% end %>
      <% end %>

      <% @html_type_temp = @html_state_temp.at(6) %>
      <% if @html_type_temp.at(0) !=nil %>
        <tr><td>&nbsp;</td></tr>
        <tr style="background-color:#E8E8E8;"><td colspan="3">Other</td></tr>
        <% @html_type_temp = @html_type_temp.sort! { |a,b| a[2].downcase <=> b[2].downcase } %>
        <% @html_type_temp.each do|n| %>
          <tr><td><%= n.at(0) %></td><td><%= n.at(2) %></td><td><a href="#" class="friend-button speech-bubble sendToFriends" data-url="<%= url %>" data-to="<%= n.at(3) %>"><%= n.at(1) %></a></td></tr>
        <% end %>
      <% end %>

      </table>
      <br/>
     <% else %>
       <p>It looks like you don't have any friends that have posted inventories in <%= @state_list.at(@html_states) %>.  Invite some, and start sharing!</p>
     <% end %>
     <br/>
     <br/>

     <% @html_states +=1 %>  
    <% end %>
    </section>
  <% end %>
  </body>
</html>
